*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
button{
    background: rgb(247,91,145);
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    font-size: 15px;
    max-width: 100%;
}
.b-b{
    background-color: transparent;
    border: solid 2px white;
}
.s0 a{
    font-size: 14px;
}

h3{
    font-size: 50px;
}
h6{
    color: rgb(247,91,145);
}
img{
    max-width: 100%;
}
input{
    border: none;
    outline: none;
    padding:5px ;
    padding-left: 15px;
    background-color: transparent;
    font-size: small;
}
header,.s0{
    background: rgb(10,43,94);
    background: linear-gradient(90deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
}
.s3{
    background: rgb(10,43,94);
    background: linear-gradient(270deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
}
.s2{
    background-color: #F6F9FC;
}
.s6{
    background-image: url("../images/ezgif-2-82af66fcd1cb.png"),linear-gradient(#0b0a4675,#0c0b4b83);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    height: 500px;
}
.s6 button{
    background-color: white;
    color: rgb(247,91,145);
}
.s4 button{
    color: rgb(247,91,145);
    border: 2px solid rgb(247,91,145);;
}
.p-image{
    position: relative;
}
.subimage{
    width: 60%;
    position: absolute;
    border-radius: 8px;
    top: 75%;
    left: 15%;
}
.bor{
    border: 1px solid rgba(255, 255, 255, 0.171) ;
}
.input{
    height: 30px;
    position: relative;
    border: 1px solid #132E43;
    color:#132E43;
    border-radius: 30px;
    width: 60%;
}
.input i{
    position: absolute;
    top: 10%;
    right: 5%;
}
input{
    width: 60px;
}
.up-arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: rgb(247,91,145);
    background: linear-gradient(180deg, rgba(247,91,145,1) 0%, rgba(249,107,108,1) 100%);
    border-radius: 50%;
    padding: 14px 18px;
}
.outer i{
    color: white;
}
.s0{
    position: sticky;
    z-index: 1;
    top: 0;
}
#hidden{
    background: rgb(10,43,94);
    background: linear-gradient(90deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
}
#ch{
    text-align: center;
}
.checkbtn i{
    color: white;
}
#hidden{
    z-index: 1;
    position: sticky;
    top: 80px;
    display: none;
}
